# dependencies
node_modules

# build output
.output/

# env files


# tool worktrees and local caches
./claude/
.claude/worktrees/
.kilo/worktrees/
.freebuff/
.tanstack/

# misc
.wrangler/deploy/config.json
.DS_Store
.wrangler/**
graphify-out/.graphify_analysis.json
graphify-out/.graphify_labels.json
graphify-out/.graphify_labels.json.sig
graphify-out/.graphify_root
graphify-out/GRAPH_REPORT.md
graphify-out/graph.html
graphify-out/graph.json
graphify-out/manifest.json
graphify-out/cache/.gfy-replace-bak-nlpraabl.tmp
graphify-out/cache/.gfy-replace-bak-o5ch3iji.tmp
graphify-out/cache/stat-index.json
graphify-out/cache/ast/v0.9.61-s2/7a37e03d829a1807a4921ae6f55911125932ccaa1149052d0189c5674126623f.json
graphify-out/cache/ast/v0.9.61-s2/30bb730ba2f06e331601bfcd6063460a792f7e02d2aed77ec07499f0edd533e5.json
graphify-out/cache/ast/v0.9.61-s2/042c5b2dd03e75bcc43bf1eaa2fb8c9bd2e8f9b92f1e84fd01f85ded86122af0.json
graphify-out/cache/ast/v0.9.61-s2/d342ef6a12801251c6836b0ec1b4b40b9ae930416f112a92fd39d29d1382f626.json
graphify-out/cache/ast/v0.9.61-s2/d835b0dc9ba717f0d30594c6767da93ee5ca713dc3d09d18d853af8c42585712.json
